/* line 5, ../../src/sass/editor/_e-buttons.scss */
.wp-block-button__link,
.wp-block-file__button {
  background-color: #0bb696;
  -webkit-border-radius: 3px;
     -moz-border-radius: 3px;
          border-radius: 3px;
}

/* line 2, ../../src/sass/editor/_e-typography.scss */
.editor-styles-wrapper h1,
.editor-styles-wrapper h2,
.editor-styles-wrapper h3,
.editor-styles-wrapper h4 {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  line-height: 1 !important;
  letter-spacing: 0.1rem;
}
/* line 12, ../../src/sass/editor/_e-typography.scss */
.editor-styles-wrapper h1 strong,
.editor-styles-wrapper h2 strong,
.editor-styles-wrapper h3 strong,
.editor-styles-wrapper h4 strong {
  font-weight: 900;
}
/* line 17, ../../src/sass/editor/_e-typography.scss */
.editor-styles-wrapper h1 {
  font-size: 26px;
}
@media only screen and (min-width: 560px) {
  /* line 17, ../../src/sass/editor/_e-typography.scss */
  .editor-styles-wrapper h1 {
    font-size: 32px;
  }
}
/* line 25, ../../src/sass/editor/_e-typography.scss */
.editor-styles-wrapper h2 {
  font-size: 24px;
}
/* line 29, ../../src/sass/editor/_e-typography.scss */
.editor-styles-wrapper h3 {
  text-transform: unset;
  font-weight: 700;
  font-size: 20px;
}

/* line 2, ../../src/sass/editor/_e-case-studies.scss */
.case-studies-listing {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
     -moz-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin-top: 48px;
}
@media only screen and (min-width: 640px) {
  /* line 2, ../../src/sass/editor/_e-case-studies.scss */
  .case-studies-listing {
    margin-right: -4%;
  }
}
@media only screen and (min-width: 1024px) {
  /* line 2, ../../src/sass/editor/_e-case-studies.scss */
  .case-studies-listing {
    margin-right: -3%;
  }
}

/* line 17, ../../src/sass/editor/_e-case-studies.scss */
.section.case-study-teaser {
  -webkit-flex-basis: 90%;
      -ms-flex-preferred-size: 90%;
          flex-basis: 90%;
  margin: auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  height: 100%;
  margin-bottom: 48px;
}
@media only screen and (min-width: 640px) {
  /* line 17, ../../src/sass/editor/_e-case-studies.scss */
  .section.case-study-teaser {
    -webkit-flex-basis: 46%;
        -ms-flex-preferred-size: 46%;
            flex-basis: 46%;
    margin: 0 4% 48px 0;
  }
}
@media only screen and (min-width: 1024px) {
  /* line 17, ../../src/sass/editor/_e-case-studies.scss */
  .section.case-study-teaser {
    -webkit-flex-basis: 30%;
        -ms-flex-preferred-size: 30%;
            flex-basis: 30%;
    margin-right: 3%;
  }
}
/* line 35, ../../src/sass/editor/_e-case-studies.scss */
.section.case-study-teaser .quote {
  font-style: italic;
  font-weight: 400;
}
/* line 39, ../../src/sass/editor/_e-case-studies.scss */
.section.case-study-teaser .quote:before {
  content: "\201C";
}
/* line 43, ../../src/sass/editor/_e-case-studies.scss */
.section.case-study-teaser .quote:after {
  content: "\201D";
}

/* line 50, ../../src/sass/editor/_e-case-studies.scss */
.case-study-teaser-link {
  width: 100%;
  -webkit-border-radius: 0 99rem 99rem;
     -moz-border-radius: 0 99rem 99rem;
          border-radius: 0 99rem 99rem;
  -webkit-align-self: flex-end;
      -ms-flex-item-align: end;
          align-self: flex-end;
  position: relative;
  -webkit-transition: background-color 0.25s;
     -moz-transition: background-color 0.25s;
       -o-transition: background-color 0.25s;
          transition: background-color 0.25s;
}
/* line 57, ../../src/sass/editor/_e-case-studies.scss */
.case-study-teaser-link:hover {
  background-color: #d90368;
}
/* line 61, ../../src/sass/editor/_e-case-studies.scss */
.case-study-teaser-link:after {
  content: "";
  display: block;
  padding-bottom: 100%;
}

/* line 68, ../../src/sass/editor/_e-case-studies.scss */
.case-study-teaser-image {
  position: absolute;
  width: 90%;
  height: 90%;
  left: 5%;
  top: 5%;
  -webkit-border-radius: 99em;
     -moz-border-radius: 99em;
          border-radius: 99em;
  -webkit-background-size: cover;
     -moz-background-size: cover;
          background-size: cover;
  background-position: center;
}

@media only screen and (min-width: 1024px) {
  /* line 84, ../../src/sass/editor/_e-case-studies.scss */
  .case-study {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
  }
}
/* line 90, ../../src/sass/editor/_e-case-studies.scss */
.case-study .section {
  padding: 0 16px;
}
/* line 94, ../../src/sass/editor/_e-case-studies.scss */
.case-study .heading {
  text-align: left;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
     -moz-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media only screen and (min-width: 1024px) {
  /* line 94, ../../src/sass/editor/_e-case-studies.scss */
  .case-study .heading {
    display: block;
    text-align: right;
  }
}
/* line 105, ../../src/sass/editor/_e-case-studies.scss */
.case-study h2 {
  font-size: 28px;
  text-align: right;
}
/* line 110, ../../src/sass/editor/_e-case-studies.scss */
.case-study .content {
  -webkit-flex-basis: 80%;
      -ms-flex-preferred-size: 80%;
          flex-basis: 80%;
}

/* line 1, ../../src/sass/editor/_e-map.scss */
.cover {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
